* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
 
}

.body{
  font-size: 15px;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.left-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.right-nav a {
  color: blue;
}

.missions {
  border-right: solid black;
  padding-right: 1rem;
}

.rockets {
  padding-right: 1rem;
}

header {
  border-bottom: 1px solid rgb(119 114 114);
}

table,
th,
td {
  border: 1px solid black;
  padding: 1rem;
}

tr:nth-child(even) {
  background-color: rgb(229, 226, 226);
}
.mission {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}


th {
  text-align: start;
}
.ubadge {
  margin-top: 50%;
  margin-bottom: 50%;
  text-align: center;
  width: 120px;
  border: solid 1px;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  border-color: darkgray;
  background-color: darkgray;
}

.member {
  border-color: darkcyan;
  background-color: darkcyan;
}

.mission-button {
  width: 120px;
  background-color: white;
  color: black;
  border: 1px solid #4caf50;
  margin-top: 42.5%;
  height: 45px;
  margin-bottom: 40.5%;
  border-color: black;
  border-radius: 5px;
}

.exit {
  border-color: red;
  color: red;
}

.myprofile-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  gap: 20px;
}

.missions-myprofile-div{
  width: 50%;
}

.title-myprofile-missions {
  font-size: 1.5em;
  margin-top: 20px;
}
.missions-myprofile-list-ul li{
  border-style: 1px solid gray;
}
.myprofile-rockets-container {
  width: 50%;
}

.rockets-myprofile-list-ul {
  height: 50px;
}