*{
  text-decoration: none;
  list-style: none;
  margin:0;
  padding:0;
}

.flex {
  display: flex;
  justify-content: space-between;
  padding:1rem 1rem;
}

.leftNav{
  display: flex;
  align-items: center;
  gap:1rem
}

.rightNav{
  display: flex;
  align-items: center;
  gap:1rem;
  
}

.rightNav a{
color:blue;
}
.Missions{
 border-right: solid black;
 padding-right: 1rem;
}

.Rockets{
  padding-right: 1rem;
}

header{
  border-bottom: 1px solid rgb(119, 114, 114);
}